In [1]:
import pandas as pd

In [2]:
play_data = pd.read_csv('inputData/player_data.csv')

In [3]:
play_data.head()

,player_name,season,race_rst,rival,rate_shot,rebounds,assists,steals,caps,scores
0,勒布朗-詹姆斯,03-04,负,国王106-92骑士,60.0%,6,9,4,0,25
1,勒布朗-詹姆斯,03-04,负,太阳95-86骑士,47.1%,12,8,1,0,21
2,勒布朗-詹姆斯,03-04,负,开拓者104-85骑士,25.0%,4,6,2,0,8
3,勒布朗-詹姆斯,03-04,负,掘金93-89骑士,27.3%,11,7,2,3,7
4,勒布朗-詹姆斯,03-04,负,步行者91-90骑士,44.4%,5,3,0,0,23

In [4]:
play_data.describe()

          rebounds      assists       steals         caps       scores
count  1192.000000  1192.000000  1192.000000  1192.000000  1192.000000
mean      7.416107     7.214765     1.620805     0.770134    27.161913
std       3.012375     2.916846     1.303165     0.915863     7.889016
min       0.000000     0.000000     0.000000     0.000000     3.000000
25%       5.000000     5.000000     1.000000     0.000000    22.000000
50%       7.000000     7.000000     1.000000     1.000000    27.000000
75%       9.000000     9.000000     2.000000     1.000000    32.000000
max      19.000000    19.000000     7.000000     5.000000    61.000000

In [5]:
play_data['rate_shot'] = play_data['rate_shot'].str.strip('%').astype(float) /100

In [6]:
play_data.describe()

,rate_shot,rebounds,assists,steals,caps,scores
count,1192.000000,1192.000000,1192.000000,1192.000000,1192.000000,1192.000000
mean,0.506038,7.416107,7.214765,1.620805,0.770134,27.161913
std,0.113290,3.012375,2.916846,1.303165,0.915863,7.889016
min,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
25%,0.435000,5.000000,5.000000,1.000000,0.000000,22.000000
50%,0.500000,7.000000,7.000000,1.000000,1.000000,27.000000
75%,0.579000,9.000000,9.000000,2.000000,1.000000,32.000000
max,0.929000,19.000000,19.000000,7.000000,5.000000,61.000000

In [7]:
play_data['rival'] = play_data['rival'].str.extract('(\d{0,2}.*?)\d')

In [8]:
play_data.head()

,player_name,season,race_rst,rival,rate_shot,rebounds,assists,steals,caps,scores
0,勒布朗-詹姆斯,03-04,负,国王,0.600,6,9,4,0,25
1,勒布朗-詹姆斯,03-04,负,太阳,0.471,12,8,1,0,21
2,勒布朗-詹姆斯,03-04,负,开拓者,0.250,4,6,2,0,8
3,勒布朗-詹姆斯,03-04,负,掘金,0.273,11,7,2,3,7
4,勒布朗-詹姆斯,03-04,负,步行者,0.444,5,3,0,0,23

In [9]:
play_data['race_rst'] = play_data['race_rst'].replace(['负'],0)
play_data['race_rst'] = play_data['race_rst'].replace(['胜'],1)#胜为1，负为0

In [10]:
play_data.head()

,player_name,season,race_rst,rival,rate_shot,rebounds,assists,steals,caps,scores
0,勒布朗-詹姆斯,03-04,0,国王,0.600,6,9,4,0,25
1,勒布朗-詹姆斯,03-04,0,太阳,0.471,12,8,1,0,21
2,勒布朗-詹姆斯,03-04,0,开拓者,0.250,4,6,2,0,8
3,勒布朗-詹姆斯,03-04,0,掘金,0.273,11,7,2,3,7
4,勒布朗-詹姆斯,03-04,0,步行者,0.444,5,3,0,0,23

In [11]:
play_data.groupby('rival').sum().iloc[1:,2:].sort_values('scores',ascending=False).head()

       rebounds  assists  steals  caps  scores
rival
雄鹿          413      391      83    39    1604
公牛          417      364      98    47    1603
步行者         428      369      97    52    1534
老鹰          444      395      99    38    1507
凯尔特         369      357      88    54    1493

In [12]:
play_data.sort_values('scores',ascending=False).head()

,player_name,season,race_rst,rival,rate_shot,rebounds,assists,steals,caps,scores
819,勒布朗-詹姆斯,13-14,1,山猫,0.667,7,4,0,0,61
1069,勒布朗-詹姆斯,17-18,1,奇才,0.676,11,7,3,2,57
140,勒布朗-詹姆斯,04-05,0,猛龙,0.500,10,5,2,0,56
443,勒布朗-詹姆斯,08-09,1,雄鹿,0.552,5,9,0,0,55
438,勒布朗-詹姆斯,08-09,1,尼克斯,0.515,9,11,0,2,52

In [13]:
play_data.head()

,player_name,season,race_rst,rival,rate_shot,rebounds,assists,steals,caps,scores
0,勒布朗-詹姆斯,03-04,0,国王,0.600,6,9,4,0,25
1,勒布朗-詹姆斯,03-04,0,太阳,0.471,12,8,1,0,21
2,勒布朗-詹姆斯,03-04,0,开拓者,0.250,4,6,2,0,8
3,勒布朗-詹姆斯,03-04,0,掘金,0.273,11,7,2,3,7
4,勒布朗-詹姆斯,03-04,0,步行者,0.444,5,3,0,0,23

In [19]:
play_data.groupby('rival').mean().iloc[1:,0:1].sort_values('race_rst').head(10)

       race_rst
rival
火箭     0.433333
马刺     0.451613
掘金     0.451613
超音速    0.500000
公牛     0.535714
勇士     0.535714
鹈鹕     0.538462
小牛     0.576923
热火     0.578947
凯尔特    0.588235

In [37]:
import pandas as pd
import numpy as np
import time

In [3]:
team_data = pd.read_csv('inputData/team_data1.csv')

In [79]:
team_data.rename(columns={'year':'season'},inplace=True)

In [127]:
team_data= team_data.loc[team_data['team_name']!='']

,season,team_name,wins,loss,win_rates,coach_off_times,coach_wins_rate,coach_champions
0,1985,波士顿凯尔特人,67,15,81.7%,9,67.4,2
1,1985,密尔沃基雄鹿,57,25,69.5%,18,55.7,0
2,1985,费城76人,54,28,65.9%,2,43.0,0
3,1985,亚特兰大老鹰,50,32,61.0%,11,54.9,0
4,1985,底特律活塞,46,36,56.1%,12,59.3,2
5,1985,新泽西篮网,39,43,47.6%,1,36.3,0
6,1985,华盛顿子弹,39,43,47.6%,10,47.7,0
7,1985,芝加哥公牛,30,52,36.6%,6,53.5,0
8,1985,克里夫兰骑士,29,53,35.4%,22,58.8,0
9,1985,印第安纳步行者,26,56,31.7%,1,34.5,0
10,1985,纽约尼克斯,23,59,28.0%,6,46.1,0
11,1985,洛杉矶湖人,62,20,75.6%,21,63.6,5

In [45]:
lake_data = pd.read_csv('inputData/lakes_data.csv')

In [46]:
lake_data.head()

,team_name,game_time,game_rst,host_guest,rival,shot_rate,rebounds,assists,scores
0,洛杉矶湖人,1985-10-26,胜,客,马刺116-121湖人,49.5%,53,30,121
1,洛杉矶湖人,1985-10-29,胜,客,小牛115-133湖人,57.4%,60,35,133
2,洛杉矶湖人,1985-10-31,胜,客,太阳107-144湖人,59.1%,50,42,144
3,洛杉矶湖人,1985-11-02,胜,客,勇士116-120湖人,58.3%,36,25,120
4,洛杉矶湖人,1985-11-05,负,主,骑士129-111湖人,42.2%,43,26,111

In [47]:
def get_season(game_time):
    ymd_lst = game_time.split('-')
    year = ymd_lst[0]
    month = int(ymd_lst[1])
    day = ymd_lst[2]
    if(month>9):
        return int(year)
    else:
        return int(year) -1

In [48]:
lake_data['season'] = lake_data['game_time'].apply(get_season)

In [49]:
lake_data.head()

,team_name,game_time,game_rst,host_guest,rival,shot_rate,rebounds,assists,scores,season
0,洛杉矶湖人,1985-10-26,胜,客,马刺116-121湖人,49.5%,53,30,121,1985
1,洛杉矶湖人,1985-10-29,胜,客,小牛115-133湖人,57.4%,60,35,133,1985
2,洛杉矶湖人,1985-10-31,胜,客,太阳107-144湖人,59.1%,50,42,144,1985
3,洛杉矶湖人,1985-11-02,胜,客,勇士116-120湖人,58.3%,36,25,120,1985
4,洛杉矶湖人,1985-11-05,负,主,骑士129-111湖人,42.2%,43,26,111,1985

In [59]:
lake_data['game_time'] = pd.to_datetime(lake_data['game_time']).map(lambda x:str(x.month)+'-'+str(x.day))

In [60]:
lake_data.head()

,team_name,game_time,game_rst,host_guest,rival,shot_rate,rebounds,assists,scores,season
0,洛杉矶湖人,10-26,胜,客,马刺116-121湖人,49.5%,53,30,121,1985
1,洛杉矶湖人,10-29,胜,客,小牛115-133湖人,57.4%,60,35,133,1985
2,洛杉矶湖人,10-31,胜,客,太阳107-144湖人,59.1%,50,42,144,1985
3,洛杉矶湖人,11-2,胜,客,勇士116-120湖人,58.3%,36,25,120,1985
4,洛杉矶湖人,11-5,负,主,骑士129-111湖人,42.2%,43,26,111,1985

In [61]:
lake_data['rival'] = lake_data['rival'].str.extract('(\d{0,2}.*?)\d')

In [120]:
lake_data = lake_data.loc[lake_data['rival']!=' ']

team_name     2722
game_time     2722
game_rst      2722
host_guest    2722
rival         2722
shot_rate     2722
rebounds      2722
assists       2722
scores        2722
season        2722
dtype: int64

In [125]:
teams = lake_data['rival'].unique()
teams

array(['马刺', '小牛', '太阳', '勇士', '骑士', '爵士', '掘金', '开拓者', '快船', '篮网', '超音速',
       '公牛', '火箭', '活塞', '尼克斯', '雄鹿', '子弹', '国王', '步行者', '凯尔特', '76人',
       '老鹰', '热火', '黄蜂', '魔术', '森林狼', '灰熊', '猛龙', '奇才', '山猫', '雷霆', '鹈鹕',
       '独行侠'], dtype=object)

In [123]:
def get_team(x):
    for i in teams:
        if(i in x):
            return i

In [124]:
team_data['team_name'].apply(get_team)

0       凯尔特
1        雄鹿
2       76人
3        老鹰
4        活塞
5        篮网
6        子弹
7        公牛
8        骑士
9       步行者
10      尼克斯
11     None
12       火箭
13       掘金
14      独行侠
15       爵士
16      开拓者
17       国王
18       马刺
19       快船
20       太阳
21      超音速
22       勇士
23      凯尔特
24       老鹰
25       活塞
26       雄鹿
27      76人
28       子弹
29      步行者
       ...
907      猛龙
908     凯尔特
909     76人
910      骑士
911     步行者
912      热火
913      雄鹿
914      奇才
915      活塞
916      黄蜂
917     尼克斯
918      篮网
919      公牛
920      魔术
921      老鹰
922      火箭
923      勇士
924     开拓者
925      雷霆
926      爵士
927      鹈鹕
928      马刺
929     森林狼
930      掘金
931      快船
932    None
933      国王
934     独行侠
935      灰熊
936      太阳
Name: team_name, Length: 937, dtype: object

In [112]:
c = []
for i in a:
    for j in b:
        if(i in j):
            c.append(j)

In [113]:
len(c)

34